
-- Fix schema permissions
GRANT USAGE ON SCHEMA public TO anon;
GRANT USAGE ON SCHEMA public TO authenticated;
GRANT USAGE ON SCHEMA public TO service_role;

-- Fix missing identities for seeded users
INSERT INTO auth.identities (id, user_id, provider_id, identity_data, provider, last_sign_in_at, created_at, updated_at)
SELECT 
  gen_random_uuid(), 
  id, 
  id::text, 
  jsonb_build_object('sub', id::text, 'email', email), 
  'email', 
  created_at, 
  created_at, 
  updated_at
FROM auth.users
WHERE id NOT IN (SELECT user_id FROM auth.identities)
  AND email LIKE '%@warehouse.local';

