
-- Fix emails to use .com so Supabase Auth doesn't reject them as invalid TLDs
UPDATE auth.users 
SET email = replace(email, '@warehouse.local', '@warehouse.com')
WHERE email LIKE '%@warehouse.local';

UPDATE auth.identities 
SET identity_data = jsonb_set(identity_data, '{email}', to_jsonb(replace(identity_data->>'email', '@warehouse.local', '@warehouse.com')))
WHERE identity_data->>'email' LIKE '%@warehouse.local';

