
-- Forcefully delete the broken test users from the auth system
DELETE FROM auth.identities WHERE provider_id IN (SELECT id::text FROM auth.users WHERE email LIKE '%@warehouse%');
DELETE FROM auth.users WHERE email LIKE '%@warehouse%';

-- Also clean up their profiles to prevent conflicts
DELETE FROM public.core_profiles WHERE phone IN ('9999999999', '8888888888', '7777777777');

